# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
# Ignore sample input video
data/Sample.mp4

# Ignore all generated output videos
output/

# Or ignore only mp4 files inside output
# output/*.mp4