# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
